* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #f5f5f5;
    line-height: 1.6;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 30px;
}

header ul li a {
    text-decoration: none;
    color: #FFD700;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #ff6600;
}

.hero {
    position: relative;
    min-height: 100vh;
    color: white;
    text-align: center;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.78vh;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.hero-content {
    position: relative;
    z-index: 1;
    padding: 120px 20px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FFD700;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #FFD700;
}

.hero button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #cc5200;
}

footer {
    background-color: #000000;
    color: #FFD700;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.menu-toggle .bar {
    background-color: #FFD700;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    header ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px 0;
    }

    header ul li {
        margin: 10px 0;
    }

    header ul.active {
        display: flex;
    }

    .hero h2 {
        font-size: 2em;
        padding: 0 10px;
    }

    .hero p {
        font-size: 1em;
    }

    .hero button {
        padding: 10px 20px;
        font-size: 1em;
    }
}
